body {padding-top: 10em;}
.systemes{padding-top: 4em;}
.row{padding-top: 4em;}
.jumbotron{background: url(assets/images/jumbotron.jpeg);}
.containermain{padding-bottom: 10em;}
.breadcrumb {margin-bottom: 0px;}
footer{
	position: absolute; 
	width:100%; 
	bottom:0;
}